doctype html
html(lang="en" ng-app="vsvs")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatble" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //- Jquery is loaded before angular so that it could be taken use of by angular
    script(src="./third_party/jquery/dist/jquery.min.js" defer)

    script(src="./third_party/angular/angular.min.js" defer)
    script(src="./third_party/angular-resource/angular-resource.min.js" defer)
    script(src="./third_party/ng-file-upload/ng-file-upload.js" defer)
    script(src="./third_party/angular-ui-router/release/angular-ui-router.js" defer)
    script(src="./third_party/ngprogress-lite/ngprogress-lite.js" defer)
    script(src="./third_party/angular-gettext/dist/angular-gettext.js" defer)
    script(src="./third_party/angular-bootstrap/ui-bootstrap-tpls.js" defer)
    script(src="./third_party/angular-toastr/dist/angular-toastr.tpls.js" defer)
    

    script(src="./scripts/vsvs.js" defer)
    script(src="./scripts/root-controller.js" defer)
    script(src="./scripts/session-controller.js" defer)
    script(src="./scripts/main-controller.js" defer)
    script(src="./scripts/auth-service.js" defer)
    script(src="./scripts/user-service.js" defer)
    script(src="./scripts/state.js" defer)
    
    script(src="./third_party/angular-toastr/dist/angular-toastr.tpls.js" defer)


    link(rel="stylesheet" href="./third_party/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="./third_party/fontawesome/css/font-awesome.css")
    link(rel="stylesheet" href="./third_party/ngprogress-lite/ngprogress-lite.css")
    link(rel="stylesheet" href="./third_party/angular-toastr/dist/angular-toastr.css")

    link(rel="stylesheet" href="./styles/sticky-footer.css")
    link(rel="stylesheet" href="./styles/navbar-height.css")
    link(rel="stylesheet" href="./styles/upload-drop-zone.css")
    


    title VSVS
  body(ng-controller="MainController as mainCtrl")
   
    nav.navbar.navbar-default.navbar-static-top.vsvs-navbar-sm
      .container-fluid
        .navbar-header
          a.navbar-brand(ui-sref="home" translate)
            | VSVS

        #navbar
          ul.nav.navbar-nav.navbar-left(ng-controller="LanguageController as lang")
            li
              a(href="#" translate ng-click="lang.setLanguage('en')") English
            li
              a(href="#" translate ng-click="lang.setLanguage('zh')") Chinese
            li
              a(ui-sref="restricted") Restricted page

          .navbar-form.navbar-right.btn-group.btn-group-sm
            button.btn.btn-default(type="button")
              i.fa.fa-bell
            button.btn.btn-default(type="button" ui-sref="upload")
              i.fa.fa-upload
              translate
                | Upload
            button.btn.btn-default(type="button" ui-sref="login")
              i.fa.fa-user

          //-form.navbar-form-alt
          form.navbar-form.navbar-right
            .form-group
              .input-group.input-group-sm
                input.form-control(type="text" placeholder="{{'Search text here'|translate}}")
                .input-group-btn
                  button.btn.btn-default(type="button")
                    i.fa.fa-search
 
  

    
    //.experimental
      p Current user: {{mainCtrl.currentSession.username}}
      p ID: {{mainCtrl.currentSession.userID}}
      p rol: {{mainCtrl.currentSession.userRole}}
      hr
      button(ng-click="login()") Login mock
      div(ng-switch on="currentUser.role")
        div(ng-switch-when="admin") You are admin.
        div(ng-switch-when="reviewer") You are reviewer.
        div(ng-switch-when="publisher") You are publisher.
        div(ng-switch-when="guest") You are guest.
        div(ng-switch-default) You are nothing.
      div
        input(type="text" ng-model="inputID")
        p {{inputIDData}}
        button.btn.btn-default(ng-click="mainCtrl.getProfile(inputID)") Get Profile
        input(type="text" ng-model="newPassword")
        button.btn.btn-default(ng-click="mainCtrl.updateProfile(inputID, newPassword)") Change Password
        
    .container
      section(ui-view)
    footer.footer(translate)
      | &copy; TUNEL 2015
