sm-height = 46px

.vsvs-navbar-sm.navbar .navbar-brand
 padding 0px 10px
 font-size 16px
 line-height sm-height
 height sm-height

.vsvs-navbar-sm.navbar .navbar-nav > li > a
  padding-top 0px
  padding-bottom 0px
  line-height sm-height

.vsvs-navbar-sm.navbar
  min-height 30px
