zone-height = 200px
inner-height = 50px

.upload-drop-inner
    height inner-height
    vertical-align text-middle
    text-align center
    margin-top ((zone-height - inner-height) / 2)

.upload-drop-zone
    height zone-height
    border-width 2px
    margin-top 20px
    margin-bottom 20px
    color #ccc
    border-style dashed
    border-color #ccc

.upload-drop-zone.drop
    color: #222
    border-color: #222
